<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="../../../assets/images/logo.png" width="150px" />
            <h1>Lorem Ipsum is simply dummy</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            formControlName="inputValue"
                            [ngClass]="{ 'is-invalid': submitted && f.inputValue.errors }"
                        />

                        <div *ngIf="submitted && f.inputValue.errors" class="invalid-feedback">
                            <div *ngIf="f.inputValue.errors.required">Email is required</div>
                            <div *ngIf="f.inputValue.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control input-underline input-lg"
                            type="password"
                            formControlName="password"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        />

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div> -->
                            <div *ngIf="f.password.errors.pattern">
                                New Password should be at least one letter,one capital letter, one number and one
                                special character
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn">{{ 'Log in' | translate }}</button>
                &nbsp;
            </form>
        </div>
    </div>
</div>
