<div [@routerTransition]>
    <app-page-header [heading]="'Wellness'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="container">
            <div>
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Add Concern</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="wellnessForm" (ngSubmit)="onAddWellness()">
                            <div class="form-row" *ngIf="showId">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Wellness Id</label>
                                    <input type="text" class="form-control" onlyNumber formControlName="wellnessId" />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Wellness Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        englishOnly
                                        formControlName="wellnessName"
                                    />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Arabic Wellness Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        arbicOnly
                                        formControlName="wellnessNameInAr"
                                    />
                                </div>
                            </div>

                            <!-- <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label"
                                        >Mark As New Brand
                                        <input type="checkbox" class="form-control" formControlName="isNewBrand" />
                                    </label>
                                </div>
                            </div> -->
                            <!-- <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label"
                                        >Show In Top Menu
                                        <input type="checkbox" class="form-control" formControlName="showInTopMenu" />
                                    </label>
                                </div>
                            </div> -->

                            <div class="modal-footer">
                                <button class="btn btn-outline-dark">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <button class="btn btn-lg btn-outline-primary" (click)="open(content, 'add')">Add Wellness</button>
            </div>

            <ngx-datatable
                class="material"
                [headerHeight]="50"
                [limit]="10"
                [footerHeight]="50"
                rowHeight="auto"
                [rows]="wellnessList"
            >
                <ngx-datatable-column name="Wellness Id" prop="wellnessId"></ngx-datatable-column>
                <ngx-datatable-column name="Wellness Name" prop="wellnessName"></ngx-datatable-column>
                <ngx-datatable-column name="Arabic Wellness Name" prop="wellnessNameInAr"></ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" widht="600">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <div class="text-left">
                            <button title="Edit" class="mr-2" (click)="open(content, row)">Edit</button>
                            <a (click)="onDelete(row)" href="javascript:void(0);">Delete</a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
