<div [@routerTransition]>
    <app-page-header [heading]="'Product-Category/SubCategory'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add Sub-Category</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="subCategoryForm" (ngSubmit)="addSubCategory()">
                        <div class="form-row" *ngIf="showId">
                            <div class="form-group col-md-6">
                                <label class="control-label">Sub-Category Id</label>
                                <input type="text" class="form-control" onlyNumber formControlName="subCategoryId" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Sub-Category Name</label>
                                <input type="text" class="form-control" englishOnly formControlName="subCategoryName" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Arabic Sub-Category Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="subCategoryNameInAr"
                                    arbicOnly
                                />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label"
                                    >Active
                                    <input type="checkbox" class="form-control" formControlName="isActive" />
                                </label>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-outline-dark">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </ng-template>

            <button class="btn btn-lg btn-outline-primary" (click)="open(content, 'add')">Add Sub-Category</button>
        </div>

        <div class="container">
            <ngx-datatable
                class="material"
                [headerHeight]="50"
                [limit]="10"
                [footerHeight]="50"
                rowHeight="auto"
                [rows]="productSubCategoryList"
            >
                <ngx-datatable-column name="Sub-Category Id" prop="subCategoryId"></ngx-datatable-column>
                <ngx-datatable-column name="Sub-Category Name" prop="subCategoryName"></ngx-datatable-column>
                <ngx-datatable-column name="Arabic Sub-Category Name" prop="subCategoryNameInAr"></ngx-datatable-column>
                <ngx-datatable-column name="Active" prop="isActive"></ngx-datatable-column>
                <ngx-datatable-column name="Sub-Sub Category Exit" prop="isSubSubCategoryExists">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="value === false" (click)="subCategory(row, value)">False</span>
                        <span *ngIf="value === true" (click)="subCategory(row, value)">True</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" widht="600">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <div class="text-left">
                            <a (click)="onDelete(row)" href="javascript:void(0);">Delete</a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
