<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <img src="./assets/images/coustomer-management.png" />&nbsp;
            <span>{{ 'Customer Management' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/charts']" class="list-group-item">
            <img src="./assets/images/store-management.png" />&nbsp;
            <span>{{ 'Store Management' | translate }}</span>
        </a>

        <div class="nested-menu">
            <a (click)="addExpandClass('pages')" class="list-group-item">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Product Management' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'pages'" class="nested">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="./product-management/brand">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Brand' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="./product-management/ingredients">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Ingredients' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="./product-management/concerns">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Concerns' | translate }}</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" routerLink="./product-management/skintypes">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Skin' | translate }}</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" routerLink="./product-management/category">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Category' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a (click)="addExpandClass('page')" class="list-group-item">
                <img src="./assets/images/doctor-management.png" />&nbsp;
                <span>{{ 'Doctor Management' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'page'" class="nested">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="./doctor-management/treatment">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Treatment' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" routerLink="./doctor-management/wellness">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Wellness' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a (click)="addExpandClass('content')" class="list-group-item">
                <img src="./assets/images/content-management.png" />&nbsp;
                <span>{{ 'Content Management' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'content'" class="nested">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="./content-management/blog-list">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Blog-List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tables']" class="list-group-item">
            <img src="./assets/images/report.png" />&nbsp;
            <span>{{ 'Report' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/grid']" class="list-group-item">
            <img src="./assets/images/order-management.png" />&nbsp;
            <span>{{ 'Order Management' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/components']" class="list-group-item">
            <img src="./assets/images/payment.png" />&nbsp;
            <span>{{ 'Payment' | translate }}</span>
        </a>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a (click)="addExpandClass('languages')" class="list-group-item">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li [class.expand]="showMenu === 'languages'" class="nested">
                    <ul class="submenu">
                        <li>
                            <a (click)="changeLang('en')" href="javascript:void(0)">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('fr')" href="javascript:void(0)">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('ur')" href="javascript:void(0)">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('es')" href="javascript:void(0)">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('it')" href="javascript:void(0)">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('fa')" href="javascript:void(0)">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('de')" href="javascript:void(0)">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a (click)="addExpandClass('profile')" class="list-group-item">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li [class.expand]="showMenu === 'profile'" class="nested">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="onLoggedout()" [routerLink]="['/login']">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
