<div>
    <app-page-header [heading]="'Blog-Details'" [icon]="'fa-th-list'"></app-page-header>

    <div class="row">
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Blog Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="quickForm" [formGroup]="blogInfoForm" autocomplete="off">
                    <div class="card-body">
                        <!-- <div formArrayName="employees">
                            <div *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i">
                                <p>
                                    Emp Id :
                                    <input [value]="emp.value" formControlName="formControls[i]" />
                                </p>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label for="Id">Id</label>
                            <input type="text" class="form-control" formControlName="id" />
                        </div>
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" class="form-control" formControlName="title" placeholder="title" />
                        </div>
                        <div class="form-group">
                            <label for="TitleInAr">Title in Arabic</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="titleInAr"
                                placeholder="Arabic title"
                            />
                        </div>
                        <div class="form-group">
                            <label for="Author">Author Name</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="authorName"
                                placeholder="Author Name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="AuthorinAr">Arabic Author Name</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="authorNameInAr"
                                placeholder="Arabic Author Name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea
                                class="form-control"
                                cols="5"
                                rows="5"
                                formControlName="description"
                                placeholder="Enter description"
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Arabic Description">Arabic Description</label>
                            <textarea
                                class="form-control"
                                cols="5"
                                rows="5"
                                formControlName="descriptionInAr"
                                placeholder="Enter Arabic description"
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="BlogImage">Blog Image</label>
                            <img
                                src="{{ blogImage }}"
                                class="form-control"
                                style="height: 150px; width: 150px !important;"
                            />
                        </div>
                        <div class="form-group">
                            <label for="CreatedBy">Created By</label>
                            <input type="text" class="form-control" formControlName="doctorName" />
                        </div>
                        <div class="form-group">
                            <label for="Date">Created Date</label>
                            <input type="text" class="form-control" formControlName="createdDate" />
                        </div>
                        <div class="form-group">
                            <label for="isAdminApproved">Is Admin Approved</label><br />
                            <input type="checkbox" formControlName="isAdminApproved" />
                        </div>
                    </div>
                </form>
                <button (click)="onSubmit()">c</button>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
