<div>
    <app-page-header [heading]="'Blog'" [icon]="'fa-th-list'"></app-page-header>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Blog's List
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Title in Arabic</th>
                                <th>Author Name</th>
                                <th>Author Name in Arabic</th>
                                <!-- <th>Blog Image</th> -->
                                <!-- <th>Admin Approved</th> -->
                                <th>Created Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of blogsList">
                                <td>{{ item.title }}</td>
                                <td>{{ item.titleInAr }}</td>
                                <td>{{ item.authorName }}</td>
                                <td>{{ item.authorNameInAr }}</td>
                                <!-- <td>
                                    <img
                                        [src]="rootUrl + item.blogImages[0]"
                                        style="height: 50px; width: 50px !important;"
                                    />
                                </td> -->
                                <!-- <td>
                                    {{ item.isAdminApproved }}
                                </td> -->
                                <td>{{ item.createdDate }}</td>
                                <td>
                                    <span style="cursor: pointer;" title="Details" (click)="details(item.id)"
                                        ><i class="fa fa-eye"></i
                                    ></span>
                                    <span style="cursor: pointer;" title="Edit" (click)="edit(item.id)"
                                        ><i class="fa fa-edit"></i
                                    ></span>
                                    <span style="cursor: pointer;" title="Delete" (click)="delete(item.id)"
                                        ><i class="fa fa-trash"></i
                                    ></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
